body{
font-family:Arial;
margin:0;
}

header{
background:#222;
color:white;
text-align:center;
padding:20px;
}

.hero{
text-align:center;
padding:80px;
background:#f4f4f4;
}

button{
padding:10px 20px;
background:blue;
color:white;
border:none;
}